@import "~bootstrap/scss/bootstrap.scss";

.bigClock {
    text-align: center;
    margin: 200px 500px;
    font-size: 70px;  
    line-height: 70px;
    background: black;
    color: white;
    padding: 10px;
    display: inline-block;
}
